@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* globals.css */
html, body {
  background-color: #1b1c1e;
  margin: 0;
  padding: 0;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles.css or a CSS module */
.verb-box {
  border: 1px solid red;
  padding: 2px;
  border-radius: 3px;
  background-color: rgba(255, 0, 0, 0.1);
}
